@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Bold.ttf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
}